*{
    box-sizing: border-box;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0px 0px;
}

.delete {
  color: white;
  user-select: none;
  padding: 20px;
  cursor: pointer;
  background-color: red;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: all 1s;

}


.done{   
        
        margin: 0px 20px;
        color: white;
        user-select: none;
        padding: 20px;
        cursor: pointer;
        background-color: blue;
        font-size: 20px;
        border: none;
        outline: none;
        border-radius: 10px;
        transition: all 1s;
      
      
      
}


.underline{
    text-decoration: line-through;
}

.underline:before,
.underline:after {
    content: "\00a0\00a0";
}



.done:hover{
    transform: translateX(-10px);
}



.delete:hover{
    transform: translateY(-10px);
}


.red{
    color: pink;
}

.p1 {
  text-align: center;
}

.ck {
  width: 15px;
  height: 15px;
}

input[type="text"] {
  padding: 20px;
  font-size: 20px;
  width: 50vw;
  outline: none;
  border: none;
  border-radius: 20px;
}


.add{
    padding: 20px;
    width: 15vw;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size:20px;
    transition: all 0.7s;
    background-color: skyblue;

}


.add:hover{
    background-color: pink;
    color: black;
    transform: scale(1.5);
}

table,
th,
td {
  border: 1px solid;
  text-align: center;

}

table {
  width: 60%;
  border-collapse: collapse;
 
}

th {
  font-size: 30px;
  padding: 20px;
  color: yellow;
  
}

td {
  font-size: 20px;
  padding: 20px;
  color: #00FF00;
}

body{
    background-color: black;
}
